---
---

<div class="final-screen" id="finalScreen">
  <div class="final-medal" id="finalMedal">🏆</div>
  <div class="final-score-big" id="finalScoreBig"></div>
  <div class="final-msg" id="finalMsg"></div>
  <button class="load-btn" onclick="resetAll()">Recommencer</button>
</div>
